@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(0deg, hsla(230, 59%, 25%, 1) 0%, hsla(359, 73%, 39%, 1) 50%, hsla(32, 97%, 59%, 1) 100%);
    background-size: cover;
    background-position: center;
}

.logo {
    position: absolute;
    left: 5%;
    width: 40px;
    height: auto;
    cursor: pointer;
}

li, a, button {
    font-weight: 600;
    font-size: 16px;
    color: bisque;
    text-decoration: none;
}

header {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}

header:hover {
    box-shadow: 2px 2px 25px black;
    transition: 0.5s;
}

.navlinks li {
    display: inline-block;
    margin: 30px;
    align-items: center;
}

.navlinks li a:hover {
    color: tomato;
    text-shadow: 1px 1px 5px black;
}

button {
    width: 100%;
    padding: 12px;
    background-color: firebrick;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
    z-index: 999;
}

button:hover {
    box-shadow: 1px 1px 5px black;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(1px);
    box-shadow: -3px 0 10px black;
    display: none;
    justify-content: flex-start;
    list-style: none;
    flex-direction: column;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}

.sidebar li {
    width: 100%;
    margin: 25px;
    text-shadow: 1px 1px 2px black;
}

.sidebar img {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 120px;
}

nav ion-icon {
    font-size: 2em;
    position: absolute;
    top: 35px;
    right: 20px;
}

@media only screen and (min-width: 830px) {
    .navlinks ion-icon {
        display: none;
    }
}

@media only screen and (max-width: 830px) {
    .navlinks .items {
        display: none;
    }
}

    @media only screen and (max-width: 560px) {
      .navlinks .items {
          display: none;
      }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#io {
    margin: 0;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 50%;
    height: auto;
}

#testo-hero {
    justify-content: center;
    padding: 5%;
    display: flex;
    flex-direction: column; 
    text-align: center;
    align-items: center;
}

#chi-sono{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;

}
#info {
    justify-content: center;
    display: flex;
    flex-direction: column; 
    text-align: center;
    align-items: center;
}
#fotomeme {
    margin: 0;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 70%;
    height: auto;
    padding-bottom: 10%;  
}
#info p {
    padding-top: 10%;
}
.linea-verticale {
    width: 2px; /* Spessore della linea */
    height: 700px;/* Altezza della linea */
    background-color: #000; /* Colore della linea */
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 5%; /* Spazio a sinistra della linea */
    margin-right: 5%;
}
#testo-chi-sono {
    justify-content: center;
    padding: 5%;
    display: flex;
    flex-direction: column; 
    text-align: center;
    align-items: center;
}
#rect-blu{
    display: flex;
    flex-direction: row;
    background-color: #000;
    height: auto;
    width: fit-content;
    margin-top: 10%;
    border-radius: 20px;
}
#lista {
    display:flex;
    flex-direction: row;
    margin: 30px;
    align-items: center;
    justify-content: flex-start;
}
#lista li {
    display:flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
}
h3 {
    padding-bottom: 15%;
    padding-top: 10%;
}
h1 {
    padding: 5%;
}
@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    #io {
        margin: 0;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        max-width: 50%;
        height: auto;
    }

    #testo-hero {
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 70%;
        height: auto;
    } 
    #chi-sono{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;

    }
    #fotome {
        display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          text-align: center;   
        }
    #fotomeme{
        max-width: 200px;
        height: auto;
        padding-top: 20%;

    }
    .linea-verticale {
        width: 70%; /* Spessore della linea */
        height: 2PX;/* Altezza della linea */
        background-color: #000; /* Colore della linea */
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 5%; /* Spazio a sinistra della linea */
        margin-right: 5%;
    }
    #testo-chi-sono {
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 70%;
        height: auto;
    }
    #rect-blu {
        display: flex;
        flex-direction: column;
        background-color: #000;
        height: auto;
        width: fit-content;
        margin-top: 10%;
        border-radius: 20px;
    }
    #lista {
        display:flex;
        flex-direction: column;
        margin: 30px;
        align-items: center;
        justify-content: flex-start;
    }
        
}