body {
  margin:0;
  padding:0;
 background: linear-gradient(to top right, #ff9100,#ffffff)
  }

header{
  position: top;
  width: 100%;
  top:0;
  left:0;
  padding-top: 20px;
}
.logo {
  display: flex;
  padding-right:50%;
   }

.logo img {
    height: 40px; /* Imposta l'altezza del logo */
}
.container {
  display: flex;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
}

.menu{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.menu li {
    display: inline-block;
    padding-top: 0;
    padding-left: 40px;
    
}
.menu a {
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    background-color: transparent;
    border-radius: 10px;
    padding: 15px;
  }
.menu a:hover {
  background-color: #ff9100;
}
#pres {
  display:flex;
  margin:auto;
  align-items: center;
  padding-bottom: 0;
   }
#io {
  width: 40%;
  align-items: center;
  position:sticky;
  padding: 50px;
  padding-bottom: 0; 
  
 
}
#testo {
  width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-left: 200px;
  padding-right: 50px;
  
}
h1{
  font-size: 4vw;
}
h2{
  font-size: 2vw;
}
#rect{
  
  position: center ;
  width: auto;
  filter: blur(200px 200px);
  background-image: url(forma.svg);
  background-size: cover;
}
#rect p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  text-align: center;
  padding: 100px;
  padding-top: 300px;
  margin:auto;
}
